{% extends "vault/base.html" %}
{% block title %}{{account.site}} - учетная запись {% endblock title %}

{% block content %}
    <h1>Учетная запись</h1>
    <table>
        
        <tr><th>Сайт</th><td>{{account.site}}</td></tr>
        <tr><th>Логин</th><td>{{account.login}}</td></tr>
        <tr><th>Пароль</th><td>{{account.password}}</td></tr>
        <tr><th>Дата создания</th><td>{{account.created_at}}</td></tr>
        <tr><th>Дата изменения пароля</th><td>{{account.password_changed_at}}</td></tr>
        </table>

    <p style="margin-top:16px;">
            <a class="btn btn-secondary" href="{% url 'account_list' %}">К списку</a>
            <a class="btn" href="{% url 'account_edit' account.pk %}">Изменить</a>
            <a class="btn btn-danger" href="{% url 'account_delete' account.pk %}">Удалить</a>
    </p>

{% endblock content %}

