{% extends "vault/base.html" %}

{% block title %} Вход {% endblock title %}

{% block content %}
<h1>Вход в систему</h1>
    {% if error %}
        <p class = "errors">{{ error }}</p>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <p>
                <label for ='id_username'>Логин</label>
                <input type="text" name="username" id="id_username" required autofocus> 
        <p>
                <label for ='id_password'>Пароль</label>
                <input type="password" name="password" id="id_password" required autofocus> 
        </p>
        <button type="submit">Войти</button> 
        </form>
        <p>class = 'muted'</p>
        нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a>
        </p>
{% endblock content%}